<template>
  <div>
    <form method="POST" v-on:submit.prevent="sendMail" accept-charset="UTF-8">

     
        <h4 class="m-b-20">{{ $t('ContactPosgradoForm') }}</h4>
        <div class="form-group">
            <textarea class="form-control" v-model="form.parameters.contactDescription" rows="3" :placeholder=" $t('labels.input', {name: $t('labels.description')}) "></textarea>
        </div>
        <button type="submit" class="btn btn-info waves-effect waves-light">{{ $t('buttons.send') }}</button>
        <button type="reset" class="btn btn-danger waves-effect waves-light">{{ $t('buttons.clean') }}</button>
    </form>
  </div>
  
</template>

<script>
    import axios from 'axios'
	export default {
		props: ['route'],
 		data () {
		  return {
            form:{
                parameters:{contactDescription:null},
                route:this.route
            }

          }
       },
       methods:{
           sendMail:function(){
                let self = this;
                showLoading();
                 self.$store.dispatch('sendPost', self.form).then(function (response) {
                        hideLoading();
                        self.form.parameters.contactDescription=null;
                        self.$store.dispatch('messageSuccess', response.data.result);
                    }).catch(function (error) {
                           processErrorVue(self,error);
                    });
                
           }

       }
	}
</script>
