
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900");
// Variables

@import "variable";




@import '../scss/icons/font-awesome/css/fontawesome-all.css'; 
@import '../scss/icons/simple-line-icons/css/simple-line-icons.css';
@import '../scss/icons/weather-icons/css/weather-icons.min.css';
@import '../scss/icons/linea-icons/linea.css';
@import '../scss/icons/themify-icons/themify-icons.css';
@import "../scss/icons/material-design-iconic-font/css/materialdesignicons.min.css";
@import '../scss/icons/icomoon/styles.css';
 
@import '../css/spinners.css'; 
@import '../css/animate.css';
@import '../css/treeview.css';
@import '../css/checkbox.css';
@import '../css/stack.css';

@import '../css/template/bootstrap.css';
@import '../css/template/bootstrap_limitless.css';
@import '../css/template/layout.css';
@import '../css/template/components.css';
@import '../css/template/colors.css';




.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.alertFooter{
  background: #36A2CDB3; 
  display:block; 
  position:fixed; 
  bottom:0px; 
  left:0px; 
  text-align:center; 
  padding:10px 0px; 
  width:100%;
  z-index:99999;
}
.alertFooter-info {
  background: #36A2CDB3;   
}
.alertFooter-danger {
   background: #FC4B6CB3;    
}

.alertFooter span , .alertFooterInfo span{
  color:#fff; 
  text-shadow:1px 1px 0px #000;
  font-size:18px;
  font-weight:bold;
}



.d-center {
  display: flex;
  align-items: center;
}

.v-select .dropdown li {
  border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

.v-select .dropdown li:last-child {
  border-bottom: none;
}

.v-select .dropdown li a {
  padding: 0px;
  width: 100%;
  font-size: 1.25em;
  color: #3c3c3c;
}

.v-select .dropdown-menu .active > a {
  color: #fff;
}

.footable .pagination{
    li{
        a {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #0275d8;
            background-color: $white;
            border: 1px solid #ddd;    
        }
        &.active a{
            z-index: 2;
            color: #fff;
            background-color: #0275d8;
            border-color: #0275d8;
        }
    }
    li.disabled {
        a {
            color: #636c72;
            pointer-events: none;
            cursor: not-allowed;
            background-color: $white;
            border-color: #ddd;
        }
    }
    li:first-child {
        a {
            margin-left: 0;
            border-bottom-left-radius: .25rem;
            border-top-left-radius: .25rem;
        }
    }
}
.footable-odd{
    background: $light;
}

form label {
  font-weight: 500;
}

.notify {
    position: relative;
       top: 6px;
    right: 2px;
    .heartbit {
        position: absolute;
        top: -20px;
        right: -4px;
        height: 25px;
        width: 25px;
        z-index: 10;
        border: 5px solid $danger;
        border-radius: 70px;
        -moz-animation: heartbit 1s ease-out;
        -moz-animation-iteration-count: infinite;
        -o-animation: heartbit 1s ease-out;
        -o-animation-iteration-count: infinite;
        -webkit-animation: heartbit 1s ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
    .point {
        width: 6px;
        height: 6px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        background-color: $danger;
        position: absolute;
        right: 6px;
        top: -10px;
    }
}

@-moz-keyframes heartbit {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -moz-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}

@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}

/*little-profile*/

.little-profile .pro-img {
  margin-top: -80px;
  margin-bottom: 20px;
}

.little-profile .pro-img img {
  width: 128px;
  height: 128px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.contact-box {
  position: relative;
}

.contact-box .add-ct-btn {
  position: absolute;
  right: 4px;
  top: -46px;
}

.contact-box .contact-widget > a {
  padding: 15px 10px;
}

.contact-box .contact-widget > a .user-img {
  margin-bottom: 0px !important;
}
.pointerSkill{
  font-size: 12px!important;cursor: pointer!important;
  }